<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Joan Recordà Portfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
<!--<h1>This is the {{title}} page</h1>
    <h2>My name is {{name}}</h2>-->

<div class="navContainer">
    <nav>
        <img class="myPic" src="images/imatgeperfil.jpg" alt="Profile picture" width="50">
        <div class="myDetails">
            <h1>Joan</h1>
            <h1>Recordà Pellicer</h1>
            <span>Full Stack Developer</span>
        </div>
        <div class="home">
            <ion-icon name="school"></ion-icon>
        </div>
        <div class="projects">
            <ion-icon name="folder"></ion-icon>
        </div>
        <div class="contact">
            <ion-icon name="mail"></ion-icon>
        </div>
    </nav>
</div>

<main>
    <div class="mainContainer">

<!-- <<<< <<< << EMPLOYMENT >> >>> >>>> -->

        <section class="employment">
            <div class="employmentHeadline">
                <div class="employmentHeading">
                    <div class="employmentIcon">
                        <ion-icon name="briefcase"></ion-icon>
                    </div>
                    <div class="employmentTitle">
                        <h2>EMPLOYMENT</h2>
                    </div>
                </div>
                <div class="employmentAccordion">
                <!--<input id="toggle" type="checkbox" checked>-->
                    <label for="toggle">
                        <ion-icon name="add-circle"></ion-icon>
                    </label>
                </div>
            </div>
            <div class="employmentContent">
                <div class="underConstruction">
                    <ion-icon name="construct"></ion-icon>
                </div>
                <h4>Work in progress...</h4>
                <div class="underConstruction">
                    <ion-icon name="construct"></ion-icon>
                </div>
            </div>
        </section>

<!-- <<<< <<< << EDUCATION >> >>> >>>> -->

        <section class="education">
            <div class="educationHeadline">
                <div class="educationHeading">
                    <div class="educationIcon">
                        <ion-icon name="medal"></ion-icon>
                    </div>
                    <div class="employmentTitle">
                        <h2>EDUCATION</h2>
                    </div>
                </div>
                <div class="educationAccordion">
                    <!--<input id="toggle" type="checkbox" checked>-->
                    <label for="toggle">
                        <ion-icon name="add-circle"></ion-icon>
                    </label>
                </div>
            </div>
            <div class="educationContent">
                <div class="educationYear">
                    <p class="year01">2021</p>
                    <p class="year02">2022</p>
                </div>
                <h4>Factoría F5</h4>
                <h5>Full Stack Development Bootcamp</h5>
            </div>
        </section>

<!-- <<<< <<< << SKILLS >> >>> >>>> -->

        <section class="skills">
            <div class="skillsHeadline">
                <div class="skillsHeading">
                    <div class="skillsIcon">
                        <ion-icon name="flash"></ion-icon>
                    </div>
                    <div class="employmentTitle">
                        <h2>SKILLS</h2>
                    </div>
                </div>
                <div class="skillsAccordion">
                    <!--<input id="toggle" type="checkbox" checked>-->
                    <label for="toggle">
                        <ion-icon name="add-circle"></ion-icon>
                    </label>
                </div>
            </div>
            <div class="skillsContent">
                <h4>Languages progress</h4>
                <div class="skillsBarsLanguages">

                    <div class="boxHtml">
                        <div class="percent">
                            <svg>
                                <circle cx="70" cy="70" r="70"></circle>
                                <circle cx="70" cy="70" r="70"></circle>
                            </svg>
                            <div class="number">
                                <h4>58<span>%</span></h4>
                            </div>
                        </div>
                        <a href="https://html.spec.whatwg.org/" target="_blank">
                            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="80" height="80"/>
                        </a>
                    </div>

                    <div class="boxCss">
                        <div class="percent">
                            <svg>
                                <circle cx="70" cy="70" r="70"></circle>
                                <circle cx="70" cy="70" r="70"></circle>
                            </svg>
                            <div class="number">
                                <h4>32<span>%</span></h4>
                            </div>
                        </div>
                        <a href="https://www.w3schools.com/css/" target="_blank">
                            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="80" height="80"/>
                        </a>
                    </div>


                    <div class="boxJs">
                        <div class="percent">
                            <svg>
                                <circle cx="70" cy="70" r="70"></circle>
                                <circle cx="70" cy="70" r="70"></circle>
                            </svg>
                            <div class="number">
                                <h4>18<span>%</span></h4>
                            </div>
                        </div>
                        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="80" height="80"/>
                        </a>
                    </div>

                    <div class="boxPhp">
                        <div class="percent">
                            <svg>
                                <circle cx="70" cy="70" r="70"></circle>
                                <circle cx="70" cy="70" r="70"></circle>
                            </svg>
                            <div class="number">
                                <h4>10<span>%</span></h4>
                            </div>
                        </div>
                        <a href="https://www.php.net" target="_blank">
                            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/php/php-original.svg" alt="php" width="80" height="80"/>
                        </a>
                    </div>

                    <div class="boxPython">
                        <div class="percent">
                            <svg>
                                <circle cx="70" cy="70" r="70"></circle>
                                <circle cx="70" cy="70" r="70"></circle>
                            </svg>
                            <div class="number">
                                <h4>2<span>%</span></h4>
                            </div>
                        </div>
                        <a href="https://www.python.org" target="_blank">
                            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="python" width="80" height="80"/>
                        </a>
                    </div>
                </div>

                <h4>Libraries and Frameworks progress</h4>
                <div class="skillsBarsLibrariesFrameworks">

                    <div class="boxBootstrap">
                        <div class="percent">
                            <svg>
                                <circle cx="70" cy="70" r="70"></circle>
                                <circle cx="70" cy="70" r="70"></circle>
                            </svg>
                            <div class="number">
                                <h4>46<span>%</span></h4>
                            </div>
                        </div>
                        <a href="https://getbootstrap.com" target="_blank">
                            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg" alt="bootstrap" width="80" height="80"/>
                        </a>
                    </div>

                    <div class="boxSass">
                        <div class="percent">
                            <svg>
                                <circle cx="70" cy="70" r="70"></circle>
                                <circle cx="70" cy="70" r="70"></circle>
                            </svg>
                            <div class="number">
                                <h4>27<span>%</span></h4>
                            </div>
                        </div>
                        <a href="https://sass-lang.com" target="_blank">
                            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/sass/sass-original.svg" alt="sass" width="80" height="80"/>
                        </a>
                    </div>


                    <div class="boxVuejs">
                        <div class="percent">
                            <svg>
                                <circle cx="70" cy="70" r="70"></circle>
                                <circle cx="70" cy="70" r="70"></circle>
                            </svg>
                            <div class="number">
                                <h4>24<span>%</span></h4>
                            </div>
                        </div>
                        <a href="https://vuejs.org/" target="_blank">
                            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/vuejs/vuejs-original-wordmark.svg" alt="vuejs" width="80" height="80"/>
                        </a>
                    </div>

                    <div class="boxLaravel">
                        <div class="percent">
                            <svg>
                                <circle cx="70" cy="70" r="70"></circle>
                                <circle cx="70" cy="70" r="70"></circle>
                            </svg>
                            <div class="number">
                                <h4>7<span>%</span></h4>
                            </div>
                        </div>
                        <a href="https://laravel.com/" target="_blank">
                            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/laravel/laravel-plain-wordmark.svg" alt="laravel" width="80" height="80"/>
                        </a>
                    </div>

                    <div class="boxJest">
                        <div class="percent">
                            <svg>
                                <circle cx="70" cy="70" r="70"></circle>
                                <circle cx="70" cy="70" r="70"></circle>
                            </svg>
                            <div class="number">
                                <h4>5<span>%</span></h4>
                            </div>
                        </div>
                        <a href="https://jestjs.io" target="_blank">
                            <img src="https://www.vectorlogo.zone/logos/jestjsio/jestjsio-icon.svg" alt="jest" width="80" height="80"/>
                        </a>
                    </div>

                </div>
                <div class="skillsGitWaka">
                    <p><img align="left" src="https://github-readme-stats.vercel.app/api/top-langs?username=joanrecorda&show_icons=true&locale=en&layout=compact" alt="joanrecorda" /></p>
                    <p><img align="left" src="https://github-readme-stats.vercel.app/api/wakatime?username=recorda&layout=compact" /></p>
                </div>
            </div>


        </section>
    </div>
</main>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="js/prova.js"></script>
</body>
</html>