<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Joan Recordà Portfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
<!--<h1>This is the {{title}} page</h1>
    <h2>My name is {{name}}</h2>-->

<div class="navContainer">
    <nav>
        <img class="myPic" src="images/imatgeperfil.jpg" alt="Profile picture" width="50">
        <div class="myDetails">
            <h1>Joan</h1>
            <h1>Recordà Pellicer</h1>
            <span>Full Stack Developer</span>
        </div>
        <div class="home">
            <ion-icon name="school"></ion-icon>
        </div>
        <div class="projects">
            <ion-icon name="folder"></ion-icon>
        </div>
        <div class="contact">
            <ion-icon name="mail"></ion-icon>
        </div>
    </nav>
</div>

<main>
    <div class="mainContainer">

<!-- <<<< <<< << EMPLOYMENT >> >>> >>>> -->

        <section class="employment">
            <div class="employmentHeadline">
                <div class="employmentHeading">
                    <div class="employmentIcon">
                        <ion-icon name="briefcase"></ion-icon>
                    </div>
                    <div class="employmentTitle">
                        <h2>EMPLOYMENT</h2>
                    </div>
                </div>
                <div class="employmentAccordion">
                <!--<input id="toggle" type="checkbox" checked>-->
                    <label for="toggle">
                        <ion-icon name="add-circle"></ion-icon>
                    </label>
                </div>
            </div>
            <div class="employmentContent">
                <div class="underConstruction">
                    <ion-icon name="construct"></ion-icon>
                </div>
                <h4>Work in progress...</h4>
                <div class="underConstruction">
                    <ion-icon name="construct"></ion-icon>
                </div>
            </div>
        </section>

<!-- <<<< <<< << EDUCATION >> >>> >>>> -->

        <section class="education">
            <div class="educationHeadline">
                <div class="educationHeading">
                    <div class="educationIcon">
                        <ion-icon name="medal"></ion-icon>
                    </div>
                    <div class="employmentTitle">
                        <h2>EDUCATION</h2>
                    </div>
                </div>
                <div class="educationAccordion">
                    <!--<input id="toggle" type="checkbox" checked>-->
                    <label for="toggle">
                        <ion-icon name="add-circle"></ion-icon>
                    </label>
                </div>
            </div>
            <div class="educationContent">
                <div class="educationYear">
                    <p class="year01">2021</p>
                    <p class="year02">2022</p>
                </div>
                <h4>Factoría F5</h4>
                <h5>Full Stack Developer</h5>
            </div>
        </section>

<!-- <<<< <<< << SKILLS >> >>> >>>> -->

        <section class="skills">
            <div class="skillsHeadline">
                <div class="skillsHeading">
                    <div class="skillsIcon">
                        <ion-icon name="flash"></ion-icon>
                    </div>
                    <div class="employmentTitle">
                        <h2>SKILLS</h2>
                    </div>
                </div>
                <div class="skillsAccordion">
                    <!--<input id="toggle" type="checkbox" checked>-->
                    <label for="toggle">
                        <ion-icon name="add-circle"></ion-icon>
                    </label>
                </div>
            </div>
            <div class="skillsContent">
                <div class="skillsBars">
                    <div class="boxHTML">
                        <div class="percent">
                            <svg>
                                <circle cx="40" cy="40" r="40"></circle>
                            </svg>
                        </div>

                    </div>
                </div>
                <p><img align="left" src="https://github-readme-stats.vercel.app/api/top-langs?username=joanrecorda&show_icons=true&locale=en&layout=compact" alt="joanrecorda" /></p>
                <p><img align="left" src="https://github-readme-stats.vercel.app/api/wakatime?username=recorda&layout=compact" /></p>

            </div>


        </section>
    </div>
</main>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="js/prova.js"></script>
</body>
</html>