@import url("01nav.css");
@import url("02main.css");

body {
    background: linear-gradient(210deg, #125D98 20%, #3C8DAD);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}