body {
    background-color: #125D98;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navContainer {
    width: 1000px;
    max-width: 90%;
    margin: 0 5% 0 5%;
}

nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    height: 160px;
    color: #DDDDDD;
}

.myPic {
    height: 100%;
    width: auto;
}

.myDetails {
    background-color: #3C8DAD;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2px 3%;
    flex-grow: 2;
}

.myDetails h1 {
    margin: 0;
    font-size: 26px;
}

.myDetails span {
    margin: 0;
    display: inline-block;
}

.home {
    background-color: #3C8DAD;
}

.projects {
    background-color: #3C8DAD;
}

.contact {
    background-color: #3C8DAD;
}

.home,
.projects,
.contact {
    color: #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.home ion-icon,
.projects ion-icon,
.contact ion-icon
{
    font-size: 80px;
}

main {
    background-color: #DDDDDD;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 1vw 0;
}

.mainContainer {
    background-color: #3C8DAD;
    width: 1000px;
    max-width: 90%;
    margin: 0 5% 0 5%;
}

.employment {

}

.employmentHeadline,
.educationHeadline,
.skillsHeadline
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 40px;
    color: #F5A962;
}
.employmentHeading,
.educationHeading,
.skillsHeading
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5vw 0 0;
    color: #125D98;
}

.employmentIcon ion-icon,
.educationIcon ion-icon,
.skillsIcon ion-icon
{
    padding: 0 0 0 1vw;
    font-size: 40px;
}

.employmentTitle {
    padding: 0 2vw 0 2vw;
}